.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header--horisontal {
  display: flex;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav__link--current {
  color: var(--accent-color);

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
  }
}

.site-contacts {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.site-contacts__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  align-items: center;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-contacts__mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.site-contacts__tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
